<!DOCTYPE html>
<html lang="en">

<head>
    <title>FAVADA</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <!-- Import font Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <!-- Style -->
    <link rel="stylesheet" href="/css/account.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <!-- Begin Header -->
    <%- include('header.ejs') %>
    <!-- End Header -->

    <!-- Breadcrumb begin-->
    <div class="breadcrumb p-1 d-none d-sm-block">
        <div class="container">
            <a href="/">Trang chủ</a>
            <i class="far fa-angle-right mx-2"></i>
            <a>Tài khoản của tôi</a>
        </div>
    </div>
    <!-- Breadcrumb end -->
    <br />

    <div class="main-area">
        <div class="container">
            <div class="row">
                <div class="col-3 pl-0 pr-4 d-none d-lg-block">
                    <div class="nav flex-column" id="side-bar" role="tablist">
                        <div class="nav-item d-flex my-2">
                            <span class="icon">
                                <img src="/images/cute_Naeun.jpg" class="rounded-circle" alt="Avatar" width="48">
                            </span>
                            <span class="ml-1">
                                <div>Tài khoản của</div>
                                <div class="user-name"></div>
                            </span>
                        </div>
                        <a class="nav-item" id="acccount-infor-tab" href="/account/0" role="tab" 
                        aria-selected="<%if (tabID === 0) {%> true <%}else{%> false <%}%>">
                            <i class="fas fa-user icon"></i>
                            Thông tin tài khoản
                        </a>
                        <a class="nav-item" id="shopping-list-tab" href="/account/1" role="tab" 
                        aria-selected="<%if (tabID === 1) {%> true <%}else{%> false <%}%>">
                            <i class="fas fa-list-alt icon"></i>
                            Quản lý đơn hàng
                        </a>
                        <a class="nav-item" id="wishlist-tab" href="/account/2" role="tab" 
                        aria-selected="<%if (tabID === 2) {%> true <%}else{%> false <%}%>">
                            <i class="fas fa-heart icon"></i>
                            Sản phẩm yêu thích
                        </a>
                        <a class="nav-item" id="checkout-infor-tab" href="/account/3" role="tab" 
                        aria-selected="<%if (tabID === 3) {%> true <%}else{%> false <%}%>">
                            <i class="far fa-credit-card icon"></i>
                            Thông tin thanh toán
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-12 px-0">
                    <div class="tab-content" id="content">
                        <div class="tab-pane fade <%if (tabID === 0) {%> active show <%}%>" id="account-infor" role="tabpanel">
                            <h5>Thông tin tài khoản</h5>
                            <% if (typeof(userInfo) !== 'undefined' && userInfo) { %>
                            <form>
                                <div class="form-row">
                                    <div class="label col-md-2 col-4 d-flex align-items-center">
                                        Họ và tên
                                    </div>
                                    <div class="form-group col-md-8">
                                        <input type="text" class="form-control" value="<%= userInfo.fullname %>" required />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="label col-md-2 col-4 d-flex align-items-center">
                                        Số điện thoại
                                    </div>
                                    <div class="form-group col-md-8">
                                        <input type="text" class="form-control" value="<%= userInfo.phone %>" required />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="label col-md-2 col-4 d-flex align-items-center">Email</div>
                                    <div class="form-group col-md-8">
                                        <input type="text" class="form-control" value="cnhonhung@gmail.com" readonly />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="label col-md-2 col-4 d-flex align-items-center">
                                        Giới tính
                                    </div>
                                    <div class="form-group col-8">
                                        <label class="radio-inline"><input type="radio" name="optradio" 
                                            <%if (userInfo.sex === true) {%> checked <%}%> /> 
                                            Nam
                                        </label>
                                        <label class="radio-inline"><input type="radio" name="optradio" 
                                            <%if (userInfo.sex === false) {%> checked <%}%> /> 
                                            Nữ
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="label col-md-2 col-4 d-flex align-items-center">
                                        <div>Ngày sinh</div>
                                    </div>
                                    <div class="form-group form-row col-md-8">
                                        <select id="dob-day" class="form-control col-3 mr-3">
                                            <option value="" selected hidden>21</option>
                                            <% for (var d = 1; d < 32; ++d) {%>
                                            <option value="<%= d %>"><%= d %></option>
                                            <% } %>
                                        </select>
                                        <select id="dob-month" class="form-control col-3 mr-3">
                                            <option value="" selected hidden>5</option>
                                            <% for (var m = 1; m < 13; ++m) {%>
                                            <option value="<%= m %>"><%= m %></option>
                                            <% } %>
                                        </select>
                                        <select id="dob-year" class="form-control col-3">
                                            <option value="" selected hidden>1999</option>
                                            <% for (var y = 1900; y < 2020; ++y) {%>
                                            <option value="<%= y %>"><%= y %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-2"> </div>
                                    <div class="form-group col-8">
                                        <input type="checkbox" id="check-change-pass" onclick="showChangePass()" checked/>
                                        <label class="form-check-label" for="check-change-pass">
                                            Thay đổi mật khẩu
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row belong-to-checkBox">
                                    <div class="label col-md-2 col-4 d-flex align-items-center">
                                        Mật khẩu cũ
                                    </div>
                                    <div class="form-group col-md-8">
                                        <input type="text" class="form-control" placeholder="Nhập mật khẩu cũ"
                                            required />
                                    </div>
                                </div>
                                <div class="form-row belong-to-checkBox">
                                    <div class="label col-md-2 col-4 d-flex align-items-center">
                                        Mật khẩu mới
                                    </div>
                                    <div class="form-group col-md-8">
                                        <input type="text" class="form-control"
                                            placeholder="Nhập mật khẩu từ 6 đến 32 ký tự" required />
                                    </div>
                                </div>
                                <div class="form-row belong-to-checkBox">
                                    <div class="label col-md-2 col-4 d-flex align-items-center">
                                        Nhập lại
                                    </div>
                                    <div class="form-group col-md-8">
                                        <input type="text" class="form-control" placeholder="Nhập lại mật khẩu mới"
                                            required />
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-2"></div>
                                    <button type="submit" class="btn-update">
                                        Cập nhật
                                    </button>
                                </div>
                            </form>
                            <% } %>
                        </div>
                        <div class="tab-pane fade <%if (tabID === 1) {%> active show <%}%>" id="order-history" role="tabpanel">
                            <h5>Quản lý đơn hàng</h5>
                            <div class="table-responsive">
                                <table class="order-table">
                                    <thead>
                                        <tr>
                                            <th class="order-code">Mã đơn hàng</th>
                                            <th class="order-date">Ngày mua</th>
                                            <th class="order-product">Sản phẩm</th>
                                            <th class="order-cost">Tổng tiền</th>
                                            <th class="order-state">Trạng thái đơn hàng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="order-code">
                                                <a href="#">36339157</a>
                                            </td>
                                            <td class="order-date">
                                                12/09/2020
                                            </td>
                                            <td class="order-product">
                                                Laptop ASUS ROG Strix G G531GD-AL034T
                                            </td>
                                            <td class="order-cost">
                                                22.990.000đ
                                            </td>
                                            <td class="order-state">
                                                Đang vận chuyển
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="order-code">
                                                <a href="#">36339157</a>
                                            </td>
                                            <td class="order-date">
                                                12/09/2020
                                            </td>
                                            <td class="order-product">
                                                Laptop ASUS ROG Strix G G531GD-AL034T
                                            </td>
                                            <td class="order-cost">
                                                22.990.000đ
                                            </td>
                                            <td class="order-state">
                                                Đang vận chuyển
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="order-code">
                                                <a href="#">36339157</a>
                                            </td>
                                            <td class="order-date">
                                                12/09/2020
                                            </td>
                                            <td class="order-product">
                                                Laptop ASUS ROG Strix G G531GD-AL034T
                                            </td>
                                            <td class="order-cost">
                                                22.990.000đ
                                            </td>
                                            <td class="order-state">
                                                Đang vận chuyển
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="order-code">
                                                <a href="#">36339157</a>
                                            </td>
                                            <td class="order-date">
                                                12/09/2020
                                            </td>
                                            <td class="order-product">
                                                Laptop ASUS ROG Strix G G531GD-AL034T
                                            </td>
                                            <td class="order-cost">
                                                22.990.000đ
                                            </td>
                                            <td class="order-state">
                                                Đang đóng gói sản phẩm
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="order-code">
                                                <a href="#">36339157</a>
                                            </td>
                                            <td class="order-date">
                                                12/09/2020
                                            </td>
                                            <td class="order-product">
                                                Laptop ASUS ROG Strix G G531GD-AL034T
                                            </td>
                                            <td class="order-cost">
                                                22.990.000đ
                                            </td>
                                            <td class="order-state">
                                                Giao hàng thành công
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="order-code">
                                                <a href="#">36339157</a>
                                            </td>
                                            <td class="order-date">
                                                12/09/2020
                                            </td>
                                            <td class="order-product">
                                                Laptop ASUS ROG Strix G G531GD-AL034T
                                            </td>
                                            <td class="order-cost">
                                                22.990.000đ
                                            </td>
                                            <td class="order-state">
                                                Giao hàng thành công
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade <%if (tabID === 2) {%> active show <%}%>" id="my-wishlist" role="tabpanel">
                            <h5>Sản phẩm yêu thích</h5>
                            <div class="table-responsive">
                                <table>
                                    <tbody>
                                        <% if (typeof(likeProducts) !== 'undefined' && likeProducts) { 
                                            for (var i = 0; i < likeProducts.length; ++i) { %>
                                            <tr>
                                                <td class="product-image">
                                                    <img class="w-100" src="<%= likeProducts[i].image %>" 
                                                        alt="Card image cap" />
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-column pr-3 py-2">
                                                        <div class="d-flex mb-1">
                                                            <div class="category border-0">
                                                                <% var ctg = 'Danh mục';
                                                                if (locals.lcCategories) {
                                                                    for (var c of lcCategories) {
                                                                        if (c.id === likeProducts[i].categoryID){
                                                                            ctg = c.name;
                                                                            break;
                                                                        }
                                                                    }
                                                                } %>
                                                                <%= ctg %>
                                                            </div>
                                                            <div class="rating-box flex-fill d-flex justify-content-end">
                                                                <ul class="rating">
                                                                    <% var rateInt = parseInt(likeProducts[i].rating); %>
                                                                    <% for (var j = 0; j < rateInt; ++j) { %>
                                                                        <li><i class="fas fa-star"></i></li>
                                                                    <% } %>
                                                                    <% if (likeProducts[i].rating > rateInt) { ++rateInt; %>
                                                                        <li><i class="fas fa-star-half-alt"></i></li>
                                                                    <% } %>        
                                                                    <% while (rateInt < 5) { ++rateInt; %>
                                                                        <li><i class="far fa-star"></i></li>
                                                                    <% } %>  
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <a href="/product/<%= likeProducts[i].id %>" class="card-body card-product-name">
                                                            <%= likeProducts[i].name %>
                                                        </a>
                                                        <div class="card-body mt-auto d-flex align-items-end">
                                                            <div class="price-box">
                                                                <span class="card-price"><%= (likeProducts[i].price*(100-likeProducts[i].promo)/100).toLocaleString('vi',{style:'currency',currency:'VND'}) %></span>
                                                                <% if (likeProducts[i].promo !== 0) { %>
                                                                <span class="card-old-price"><%= likeProducts[i].price.toLocaleString('vi',{style:'currency',currency:'VND'}) %></span>
                                                                <% } %>
                                                            </div>
                                                            <div class="flex-fill d-flex justify-content-end">
                                                                <button type="button" class="card-btn-wish" name="btn-like-<%= likeProducts[i].id %>"
                                                                    onclick="removeFromLikeList('<%= likeProducts[i].id %>')">
                                                                    <i class="fas fa-heart"></i>
                                                                </button>
                                                                <button type="button" class="card-btn-cart" onclick="hitAddCart('<%= likeProducts[i].id %>')">
                                                                    <i class="fal fa-shopping-cart"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% } } %>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade <%if (tabID === 3) {%> active show <%}%>" id="checkout-infor" role="tabpanel">
                            <h5>Thông tin thanh toán</h5>
                            <div class="empty-board text-center">
                                <div class="my-5">
                                    <img src="/images/empty.jpg" alt="Empty">
                                </div>
                                <div class="my-3">Lưu lại thông tin thanh toán giúp bạn đặt hàng nhanh chóng và dễ dàng
                                    hơn</div>
                                <div class="mb-5 mt-4">
                                    <button type="submit" class="btn-continue-shopping"
                                        onclick="location.href='/'">Tiếp tục mua sắm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <!-- Footer begin -->
    <footer>
        <div class="container pt-3 pb-1">
            <div class="row d-flex justify-content-between no-gutters">
                <div class="col-lg-6 pr-lg-5">
                    <div>
                        <h5>ĐỊA ĐIỂM MUA HÀNG</h5>
                        <h2 class="line"></h2>
                        <ul class="list-unstyled">
                            <li>
                                <dl style="list-style: none;">
                                    <dt>
                                        <i class="fas fa-map-marker-alt mr-2"></i>227 Đường Nguyễn Văn Cừ, phường 4,
                                        quận 5, Hồ Chí Minh
                                    </dt>
                                    <dd>Thứ 2 - Thứ 6: Từ 9h - 20h</dd>
                                    <dd>
                                        Thứ 7: Từ 9h - 18h, Chủ Nhật: Từ 9h
                                        - 16h
                                    </dd>
                                    <dt>
                                        <i class="fas fa-map-marker-alt mr-2"></i>Khu phố 6, Phường Linh Trung, Quận
                                        Thủ Đức, Hồ Chí Minh
                                    </dt>
                                    <dd>Thứ 2 - Thứ 7: Từ 9h - 18h</dd>
                                    <dd>Chủ Nhật: Không hoạt động</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h5>ĐIỆN THOẠI HỖ TRỢ</h5>
                        <h2 class="line"></h2>
                        <ul class="list-unstyled normal-text">
                            <li>Mua hàng: <b>0843 969 899</b></li>
                            <li>
                                Bảo hành: <b>0843 969 899 (Line: 8200)</b>
                            </li>
                            <li>
                                Kỹ thuật: <b>0843 969 899 (Line: 8345)</b>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 pr-lg-5">
                    <h5>CHÍNH SÁCH</h5>
                    <h2 class="line"></h2>
                    <ul class="list-unstyled normal-text">
                        <li>Chính sách bán hàng</li>
                        <li>Chính sách bảo hành</li>
                        <li>Chính sách bảo mật</li>
                        <li>Tìm hiểu về trả góp</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <div>
                        <h5>PHƯƠNG THỨC THANH TOÁN</h5>
                        <h2 class="line"></h2>
                        <img src="/images/footer/visa.svg" width="54" class="mr-3" />
                        <img src="/images/footer/maestro.svg" width="54" class="mr-3" />
                        <img src="/images/footer/american-express.svg" width="54" class="mr-3" />
                        <img src="/images/footer/jcb.svg" width="54" class="mr-3" />
                        <img src="/images/footer/paypal.svg" width="54" class="mr-3" />
                        <img src="/images/footer/ebay.svg" width="54" />
                    </div>
                    <br />
                    <br />
                    <div>
                        <h5>KẾT NỐI VỚI CHÚNG TÔI</h5>
                        <h2 class="line"></h2>
                        <img src="/images/footer/facebook.svg" width="40" class="mr-3" />
                        <img src="/images/footer/youtube.svg" width="50" />
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container p-0">
                <div class="row no-gutters">
                    <span class="col-md-10 col-sm-9 text-right">Powered by Team10 - 17CNTN</span>
                    <span class="col-md-2 col-sm-3 text-right">@Favada 2020</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

    <!-- Optional JavaScript -->
    <script src="/script/public.js"></script>
    <script>
        var username = localStorage.getItem('username');
        document.querySelector('#side-bar').querySelector('.user-name').innerText = username;        
    </script>
    <!-- Font Awesome -->
    <script src="/script/fontawesome-pro.js"></script>
    <script>
        function showChangePass() {
            var checkBox = document.querySelector('#check-change-pass');
            var contents = document.querySelectorAll('.belong-to-checkBox');
            if (checkBox.checked === true) {
                contents.forEach(ele => {
                    ele.classList.remove('d-none'); 
                });
            } else {
                contents.forEach(ele => {
                    ele.classList.add('d-none');
                });
            }
        }
        function removeFromLikeList(productID) {
            let _id = parseInt(productID);
            // request delete in database
            makeRequest('/like/' + productID, 'DELETE', jwtToken, 'Đã xóa khỏi Danh sách yêu thích');
            // delete in storage
            const i = likeProductIDs.indexOf(_id);
            likeProductIDs.splice(i, 1);
            localStorage.setItem("likeProductIDs", JSON.stringify(likeProductIDs));
            // reload list view, don't know why but must reload 2 times :((
            window.location.reload(true);
            window.location.reload(true);
        }
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>