<!DOCTYPE html>
<html lang="en">

<head>
    <title>FAVADA</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <!-- Import font Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <!-- Font Awesome -->
    <script src="/script/fontawesome-pro.js"></script>
    <!-- Style -->
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <!-- Begin Header -->
    <%- include('header.ejs') %>
    <!-- End Header -->

    <!-- Breadcrumb begin-->
    <div class="breadcrumb p-1 d-none d-sm-block">
        <div class="container">
            <a href="/">Trang chủ</a>
            <% if (dataProduct) { %>
                <i class="far fa-angle-right mx-2"></i>
                <a href="/category/<%= dataProduct.categoryID %>"><%= dataProduct.category %></a>
                <i class="far fa-angle-right mx-2"></i>
                <a><%= dataProduct.name %></a>
            <% } %>
        </div>
    </div>
    <!-- Breadcrumb end -->
    <br />

    <div class="main-area">
        <div class="container">
            <% if (dataProduct) { %>
            <div class="content-wraper">
                <div class="row single-product-area">
                    <!-- Product picture on the left side of area -->
                    <div class="col-lg-5 col-md-6 pl-0">
                        <div class="product-details-left">
                            <div class="product-details-images">
                                <div class="lg-image">
                                    <a class="popup-img venobox vbox-item" href="<%= dataProduct.image %>"
                                        data-gall="myGallery">
                                        <img src="<%= dataProduct.image %>" alt="product image" class="w-100" />
                                    </a>
                                </div>
                            </div>
                            <div class="d-none d-sm-block">
                                <div class="product-details-thumbs row">
                                    <div class="sm-image col-3">
                                        <img src="<%= dataProduct.image %>" alt="product image thumb"
                                            class="w-100" />
                                    </div>
                                    <div class="sm-image col-3">
                                        <img src="<%= dataProduct.image %>" alt="product image thumb"
                                            class="w-100" />
                                    </div>
                                    <div class="sm-image col-3">
                                        <img src="<%= dataProduct.image %>" alt="product image thumb"
                                            class="w-100" />
                                    </div>
                                    <div class="sm-image col-3">
                                        <img src="<%= dataProduct.image %>" alt="product image thumb"
                                            class="w-100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Product picture -->

                    <div class="col-lg-7 col-md-6 pr-0">
                        <div class="product-details-view-content pt-60">
                            <div class="product-info">
                                <h2> <%= dataProduct.name %> </h2>
                                <div class="product-category">
                                    <b>Thương hiệu:</b>
                                    <i><%= dataProduct.brand %></i>
                                </div>
                                <div class="rating-review mt-3">
                                    <div class="rating-stars">
                                        <ul class="rating">
                                            <% var rateInt = parseInt(dataProduct.rating); %>
                                            <% for (var j = 0; j < rateInt; ++j) { %>
                                                <li><i class="fas fa-star"></i></li>
                                            <% } %>
                                            <% if (dataProduct.rating > rateInt) { ++rateInt; %>
                                                <li><i class="fas fa-star-half-alt"></i></li>
                                            <% } %>        
                                            <% while (rateInt < 5) { ++rateInt; %>
                                                <li><i class="far fa-star"></i></li>
                                            <% } %>  
                                        </ul>
                                    </div>
                                </div>
                                <div class="price-box mt-3">
                                    Giá:
                                    <span class="price ml-2">
                                        <%= (dataProduct.price*(100-dataProduct.promo)/100).toLocaleString('vi',{style:'currency',currency:'VND'}) %>
                                    </span>
                                    <% if (dataProduct.promo !== 0) { %>
                                        <span class="old-price"><%= dataProduct.price.toLocaleString('vi',{style:'currency',currency:'VND'}) %></span>
                                    <% } %>
                                </div>
                                <div class="product-desc" style="white-space: pre-line">
                                    <%= dataProduct.info %>
                                </div>
                                <div class="line"></div>
                                <div class="add-to-wishlist my-3">
                                    <button type="button" class="card-btn-wish" name="wishlist-btn-<%= dataProduct.id %>"
                                        onclick="hitLike('<%= dataProduct.id %>', 'wishlist-btn-')">
                                        <i class="far fa-heart"></i>
                                    </button>
                                    Thêm vào danh sách yêu thích
                                </div>
                                <div class="single-add-to-cart">
                                    <label>Số lượng</label>
                                    <div class="cart-quantity row">
                                        <div class="quantity d-flex mr-4">
                                            <input id="read-quantity" class="cart-plus-minus-box" value="1" type="number" readonly/>
                                            <div>
                                                <div class="inc qtybutton">
                                                    <i class="fa fa-angle-up"></i>
                                                </div>
                                                <div class="dec qtybutton">
                                                    <i class="fa fa-angle-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="add-to-cart" onclick="addToCart('<%= dataProduct.id %>')">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </div>
                                </div>
                                <div class="block-reassurance mt-5">
                                    <div class="row align-items-center">
                                        <i class="far fa-check-circle mr-3"></i>
                                        <i>Cam kết sản phẩm mới 100%</i>
                                    </div>
                                    <div class="line"></div>
                                    <div class="row align-items-center">
                                        <i class="far fa-truck mr-3"></i>
                                        <i>Giao hàng miễn phí nội thành</i>
                                    </div>
                                    <div class="line"></div>
                                    <div class="row align-items-center">
                                        <i class="far fa-exchange-alt mr-3"></i>
                                        <i> Đổi trả tròng vòng 7 ngày</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="section-title nav" id="myTab" role="tablist">
                <a class="title-item active" id="detail-tab" data-toggle="tab" href="#detail" role="tab"
                    aria-selected="true">
                    Thông tin chi tiết
                </a>
                <span class="separate"></span>
                <a class="title-item" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-selected="false">
                    Đánh giá
                </a>
            </div>
            <div class="tab-content mt-4" id="myTabContent">
                <div class="tab-pane fade show active" id="detail" role="tabpanel">
                    <p style="white-space: pre-line">
                        <%= dataProduct.detail %>
                    </p>
                </div>
                <div class="tab-pane fade" id="review" role="tabpanel">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="rating-stars">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half-alt"></i>
                                        </li>
                                        <li>
                                            <i class="far fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="post-time">28/05/2020</div>
                            </div>
                            <div class="account-name">bởi Trân L.</div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="rating-stars">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half-alt"></i>
                                        </li>
                                        <li>
                                            <i class="far fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="post-time">28/05/2020</div>
                            </div>
                            <div class="account-name">bởi Nguyễn Đ.</div>
                            <div class="comment">
                                Nói chung là không bị hở sáng như mấy con
                                kia, khá hài lòng. Bền hay không thì chưa
                                biết nhưng khá đẹp.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="rating-stars">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half-alt"></i>
                                        </li>
                                        <li>
                                            <i class="far fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="post-time">28/05/2020</div>
                            </div>
                            <div class="account-name">bởi Khánh V.</div>
                            <div class="comment">
                                Màn hình đúng chuẩn 2k 75hz, mua 2 cái không
                                hở sáng hay lỗi nhỏ gì hết, nói chung best
                                trong tầm giá khi mua khuyến mãi, chân đế
                                cứng cáp, cọng dây hdmi đi kèm có 1 dây
                                không dùng được, nhưng không sao, dù sao
                                mình cũng không bao giờ dùng dây đi kèm, màn
                                đóng gói tốt.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <br />

            <!-- Similar products begin -->
            <div class="section-title">
                <span class="title-item active">
                    Các sản phẩm tương tự:
                </span>
            </div>
            <div class="mt-3 row">
            <% if (similarProducts) { for (var i = 0; i < similarProducts.length; ++i) { %>
                <% if (i < 2) { %>
                <div class="card col-lg col-md-4 col-6">
                <% } else if (i == 2) { %>
                <div class="card col-lg col-md-4 d-none d-md-block">
                <% } else { %>
                <div class="card col-lg d-none d-lg-block">
                <% } %>
                    <img class="card-img-top" src="<%= similarProducts[i].image %>" alt="Card image cap" />
                    <div class="card-body card-category">
                        <% var ctg = 'Danh mục';
                        if (locals.lcCategories) {
                            for (var c of lcCategories) {
                                if (c.id === similarProducts[i].categoryID){
                                    ctg = c.name;
                                    break;
                                }
                            }
                        } %>
                        <%= ctg %>
                    </div>
                    <div class="card-body rating-stars">
                        <ul class="rating">
                            <% var rateInt = parseInt(similarProducts[i].rating); %>
                            <% for (var j = 0; j < rateInt; ++j) { %>
                                <li><i class="fas fa-star"></i></li>
                            <% } %>
                            <% if (similarProducts[i].rating > rateInt) { ++rateInt; %>
                                <li><i class="fas fa-star-half-alt"></i></li>
                            <% } %>        
                            <% while (rateInt < 5) { ++rateInt; %>
                                <li><i class="far fa-star"></i></li>
                            <% } %>                       
                        </ul>
                    </div>
                    <a href="/product/<%= similarProducts[i].id %>" class="card-body card-product-name">
                        <%= similarProducts[i].name %>
                    </a>
                    <div class="card-body">
                        <div class="d-flex align-items-end">
                            <div class="price-box">
                                <span class="card-price"><%= (similarProducts[i].price*(100-similarProducts[i].promo)/100).toLocaleString('vi',{style:'currency',currency:'VND'}) %></span>
                                <% if (similarProducts[i].promo !== 0) { %>
                                <span class="card-old-price"><%= similarProducts[i].price.toLocaleString('vi',{style:'currency',currency:'VND'}) %></span>
                                <% } %>
                            </div>
                            <div class="flex-fill d-flex justify-content-end">
                                <button type="button" class="card-btn-wish" name="btn-like-<%= similarProducts[i].id %>"
                                    onclick="hitLike('<%= similarProducts[i].id %>')">
                                    <i class="fal fa-heart"></i>
                                </button>
                                <button type="button" class="card-btn-cart" onclick="hitAddCart('<%= similarProducts[i].id %>')">
                                    <i class="fal fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <% }} %>
            </div>
            <!-- Similar products end -->
        </div>
        <% } %>
    </div>

    <br />
    <br />
    <br />
    <!-- Footer begin -->
    <footer>
        <div class="container pt-3 pb-1">
            <div class="row d-flex justify-content-between no-gutters">
                <div class="col-lg-6 pr-lg-5">
                    <div>
                        <h5>ĐỊA ĐIỂM MUA HÀNG</h5>
                        <h2 class="line"></h2>
                        <ul class="list-unstyled">
                            <li>
                                <dl style="list-style: none;">
                                    <dt>
                                        <i class="fas fa-map-marker-alt mr-2"></i>227 Đường Nguyễn Văn Cừ, phường 4,
                                        quận 5, Hồ Chí Minh
                                    </dt>
                                    <dd>Thứ 2 - Thứ 6: Từ 9h - 20h</dd>
                                    <dd>
                                        Thứ 7: Từ 9h - 18h, Chủ Nhật: Từ 9h
                                        - 16h
                                    </dd>
                                    <dt>
                                        <i class="fas fa-map-marker-alt mr-2"></i>Khu phố 6, Phường Linh Trung, Quận
                                        Thủ Đức, Hồ Chí Minh
                                    </dt>
                                    <dd>Thứ 2 - Thứ 7: Từ 9h - 18h</dd>
                                    <dd>Chủ Nhật: Không hoạt động</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h5>ĐIỆN THOẠI HỖ TRỢ</h5>
                        <h2 class="line"></h2>
                        <ul class="list-unstyled normal-text">
                            <li>Mua hàng: <b>0843 969 899</b></li>
                            <li>
                                Bảo hành: <b>0843 969 899 (Line: 8200)</b>
                            </li>
                            <li>
                                Kỹ thuật: <b>0843 969 899 (Line: 8345)</b>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 pr-lg-5">
                    <h5>CHÍNH SÁCH</h5>
                    <h2 class="line"></h2>
                    <ul class="list-unstyled normal-text">
                        <li>Chính sách bán hàng</li>
                        <li>Chính sách bảo hành</li>
                        <li>Chính sách bảo mật</li>
                        <li>Tìm hiểu về trả góp</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <div>
                        <h5>PHƯƠNG THỨC THANH TOÁN</h5>
                        <h2 class="line"></h2>
                        <img src="/images/footer/visa.svg" width="54" class="mr-3" />
                        <img src="/images/footer/maestro.svg" width="54" class="mr-3" />
                        <img src="/images/footer/american-express.svg" width="54" class="mr-3" />
                        <img src="/images/footer/jcb.svg" width="54" class="mr-3" />
                        <img src="/images/footer/paypal.svg" width="54" class="mr-3" />
                        <img src="/images/footer/ebay.svg" width="54" />
                    </div>
                    <br />
                    <br />
                    <div>
                        <h5>KẾT NỐI VỚI CHÚNG TÔI</h5>
                        <h2 class="line"></h2>
                        <img src="/images/footer/facebook.svg" width="40" class="mr-3" />
                        <img src="/images/footer/youtube.svg" width="50" />
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container p-0">
                <div class="row no-gutters">
                    <span class="col-md-10 col-sm-9 text-right">Powered by Team10 - 17CNTN</span>
                    <span class="col-md-2 col-sm-3 text-right">@Favada 2020</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

    <!-- Optional JavaScript -->
    <script src="/script/public.js"></script>
    <script>
        // change quantity of product
        var btnsQuantity = document.querySelectorAll(".qtybutton");
        btnsQuantity.forEach(btn => { 
            btn.onclick = () => {
                var quantity = btn.parentElement.parentElement.querySelector("input");
                var oldVal = quantity.value;
                var newVal = null;
                if (btn.classList.contains("inc")) {
                    newVal = parseFloat(oldVal) + 1;
                } else {
                    // Don't allow decrementing below zero
                    if (oldVal > 1) {
                        newVal = parseFloat(oldVal) - 1;
                    } else {
                        newVal = 1;
                    }
                }
                quantity.value = newVal;
                console.log(quantity.value);
            }
        });
        function addToCart(productID) {
            var quantity = document.querySelector("#read-quantity").value;
            console.log(quantity, typeof(quantity));
            hitAddCart(productID, quantity);
        }
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>