<!DOCTYPE html>
<html lang="en">

<head>
    <title>FAVADA</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <!-- Import font Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <!-- Font Awesome -->
    <script src="/script/fontawesome-pro.js"></script>
    <!-- Style -->
    <link rel="stylesheet" href="/css/category.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <!-- Begin Header -->
    <%- include('header.ejs') %>
    <!-- End Header -->


    <!-- Nav bar begin-->
    <div class="breadcrumb p-1 d-none d-sm-block">
        <div class="container">
            <a href="/">Trang chủ</a>
            <i class="far fa-angle-right mx-2"></i>
            <a>Kết quả tìm kiếm</a>
        </div>
    </div>
    <!-- Nav bar end -->
    <br />

    <div class="main-area">
        <div class="list-product-section">
            <div class="container">
                <div class="sort-area py-2 px-2 row justify-content-between align-items-center">
                    <div class="number-of-products mr-5">
                        <b><%= nofProducts %></b> sản phẩm được tìm thấy theo "<%= searchKeyword %>"
                    </div>
                    <div class="right-area d-flex justify-content-between">
                        <div class="sort mr-5 row align-items-center">
                            <span class="mr-3">Sắp xếp theo:</span>
                            <select class="sort-filter" onchange="changeSortType(value)">
                                <option value="0" <%if (sortBy && sortBy===0) {%> selected="selected" <%}%>>
                                    Tên: A-Z
                                </option>
                                <option value="1" <%if (sortBy && sortBy===1) {%> selected="selected" <%}%>>
                                    Tên: Z-A
                                </option>
                                <option value="2" <%if (sortBy && sortBy===2) {%> selected="selected" <%}%>>
                                    Giá: Tăng dần
                                </option>
                                <option value="3" <%if (sortBy && sortBy===3) {%> selected="selected" <%}%>>
                                    Giá: Giảm dần
                                </option>
                                <option value="4" <%if (sortBy && sortBy===4) {%> selected="selected" <%}%>>
                                    Mới nhất
                                </option>
                                <option value="5" <%if (sortBy && sortBy===5) {%> selected="selected" <%}%>>
                                    Cũ nhất
                                </option>
                            </select>
                        </div>
                        <div class="view row align-items-center">
                            <span class="mr-2">Xem:</span>
                            <span class="view-filter row">
                                <button class="active">
                                    <i class="fas fa-th"></i>
                                </button>
                                <button>
                                    <i class="fas fa-list-ul"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <% var nofRows = 0; if (dataProducts) {nofRows = dataProducts.length;} %> 
                <!-- Card List begin -->
                <div class="row mt-1">
                <% if (nofRows > 0) { 
                    for (var i = 0; i < nofRows; ++i) { %>
                    <div class="card col-lg-3 col-md-4 col-6">
                        <img class="card-img-top" src="<%= dataProducts[i].image %>" alt="Card image cap" />
                        <div class="card-body card-category">
                            <% var ctg = 'Danh mục';
                            if (locals.lcCategories) {
                                for (var c of lcCategories) {
                                    if (c.id === dataProducts[i].categoryID){
                                        ctg = c.name;
                                        break;
                                    }
                                }
                            } %>
                            <%= ctg %>
                        </div>
                        <div class="card-body rating-stars">
                            <ul class="rating">
                                <% var rateInt = parseInt(dataProducts[i].rating); %>
                                <% for (var j = 0; j < rateInt; ++j) { %>
                                    <li><i class="fas fa-star"></i></li>
                                <% } %>
                                <% if (dataProducts[i].rating > rateInt) { ++rateInt; %>
                                    <li><i class="fas fa-star-half-alt"></i></li>
                                <% } %>        
                                <% while (rateInt < 5) { ++rateInt; %>
                                    <li><i class="far fa-star"></i></li>
                                <% } %>                       
                            </ul>
                        </div>
                        <a href="/product/<%= dataProducts[i].id %>" class="card-body card-product-name">
                            <%= dataProducts[i].name %>
                        </a>
                        <div class="card-body">
                            <div class="d-flex align-items-end">
                                <div class="price-box">
                                    <span class="card-price">
                                        <%= (dataProducts[i].price*(100-dataProducts[i].promo)/100).toLocaleString('vi',{style:'currency',currency:'VND'}) %>
                                    </span>
                                    <% if (dataProducts[i].promo !== 0) { %>
                                        <span class="card-old-price">
                                            <%= dataProducts[i].price.toLocaleString('vi',{style:'currency',currency:'VND'}) %>
                                        </span>
                                    <% } %>
                                </div>
                                <div class="flex-fill d-flex justify-content-end">
                                    <button type="button" class="card-btn-wish" name="btn-like-<%= dataProducts[i].id %>"
                                        onclick="hitLike('<%= dataProducts[i].id %>')">
                                        <i class="fal fa-heart"></i>
                                    </button>
                                    <button type="button" class="card-btn-cart" onclick="hitAddCart('<%= dataProducts[i].id %>')">
                                        <i class="fal fa-shopping-cart"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!-- Card List end -->
                <br />
                <br />
                <nav aria-label="pagination-area">
                    <ul class="pagination justify-content-end">
                        <li class="page-item <%if (page < 2) {%> disabled <%}%>">
                            <a class="page-link" href="<%= UpdateQueryString('page', page-1, url) %>">Trước</a>
                        </li>
                        <% for (var p=1; p <= lastPage; ++p) {%>
                        <li class="page-item <%if (p === page) {%> active <%}%>">
                            <a class="page-link" href="<%= UpdateQueryString('page', p, url) %>"><%= p %></a>
                        </li>
                        <% } %>
                        <li class="page-item <%if (page >= lastPage) {%> disabled <%}%>">
                            <a class="page-link" href="<%= UpdateQueryString('page', page+1, url) %>">Sau</a>
                        </li>
                    </ul>
                </nav>
                <% } %>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <!-- Footer begin -->
    <footer>
        <div class="container pt-3 pb-1">
            <div class="row d-flex justify-content-between no-gutters">
                <div class="col-lg-6 pr-lg-5">
                    <div>
                        <h5>ĐỊA ĐIỂM MUA HÀNG</h5>
                        <h2 class="line"></h2>
                        <ul class="list-unstyled">
                            <li>
                                <dl style="list-style: none;">
                                    <dt>
                                        <i class="fas fa-map-marker-alt mr-2"></i>227 Đường Nguyễn Văn Cừ, phường 4,
                                        quận 5, Hồ Chí Minh
                                    </dt>
                                    <dd>Thứ 2 - Thứ 6: Từ 9h - 20h</dd>
                                    <dd>
                                        Thứ 7: Từ 9h - 18h, Chủ Nhật: Từ 9h
                                        - 16h
                                    </dd>
                                    <dt>
                                        <i class="fas fa-map-marker-alt mr-2"></i>Khu phố 6, Phường Linh Trung, Quận
                                        Thủ Đức, Hồ Chí Minh
                                    </dt>
                                    <dd>Thứ 2 - Thứ 7: Từ 9h - 18h</dd>
                                    <dd>Chủ Nhật: Không hoạt động</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h5>ĐIỆN THOẠI HỖ TRỢ</h5>
                        <h2 class="line"></h2>
                        <ul class="list-unstyled normal-text">
                            <li>Mua hàng: <b>0843 969 899</b></li>
                            <li>
                                Bảo hành: <b>0843 969 899 (Line: 8200)</b>
                            </li>
                            <li>
                                Kỹ thuật: <b>0843 969 899 (Line: 8345)</b>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 pr-lg-5">
                    <h5>CHÍNH SÁCH</h5>
                    <h2 class="line"></h2>
                    <ul class="list-unstyled normal-text">
                        <li>Chính sách bán hàng</li>
                        <li>Chính sách bảo hành</li>
                        <li>Chính sách bảo mật</li>
                        <li>Tìm hiểu về trả góp</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <div>
                        <h5>PHƯƠNG THỨC THANH TOÁN</h5>
                        <h2 class="line"></h2>
                        <img src="/images/footer/visa.svg" width="54" class="mr-3" />
                        <img src="/images/footer/maestro.svg" width="54" class="mr-3" />
                        <img src="/images/footer/american-express.svg" width="54" class="mr-3" />
                        <img src="/images/footer/jcb.svg" width="54" class="mr-3" />
                        <img src="/images/footer/paypal.svg" width="54" class="mr-3" />
                        <img src="/images/footer/ebay.svg" width="54" />
                    </div>
                    <br />
                    <br />
                    <div>
                        <h5>KẾT NỐI VỚI CHÚNG TÔI</h5>
                        <h2 class="line"></h2>
                        <img src="/images/footer/facebook.svg" width="40" class="mr-3" />
                        <img src="/images/footer/youtube.svg" width="50" />
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container p-0">
                <div class="row no-gutters">
                    <span class="col-md-10 col-sm-9 text-right">Powered by Team10 - 17CNTN</span>
                    <span class="col-md-2 col-sm-3 text-right">@Favada 2020</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

    <!-- Optional JavaScript -->
    <script src="/script/public.js"></script>
    <script>
        var url = '<%- url %>';
        var updateQueryString = <%- UpdateQueryString %>; // MUST NOT CHANGE
        function changeSortType(val) {
            window.location.href = updateQueryString('sortBy', val, url);
        }
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>